html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background: black;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: 44%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@font-face {
  font-family: quinn;
  src: url(../fonts/Quinn.ttf);
}

/* ============== header start ============== */
header {
  display: flex;
  justify-content: center;
}
header .navbar-brand {
  color: whitesmoke;
  font-family: quinn;
  top: 1.4rem;
  font-size: 4rem;
  position: absolute;
  transition: 1.4s;
}
/* ============== header end ============== */

/* ============== section start ============== */
section {
  height: 100%;
  width: 100%;
  background-size: cover;

  position: absolute;
  z-index: 2;
  transition: 0.8s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  width: 80%;
  margin: 150px auto;
}

.spotify-wrapper {
  width: 100%;
}

.youtube-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 50px;
}

.soundcloud-wrapper {
  width: 100%;
}

.instagram-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.exhibition-title {
  font-size: 24px;
  color: white;
  margin-top: 25px;
}

.exhibition-desc {
  font-size: 14px;
  color: white;
}

/* ============== section end ============== */

/* ============== media query start ============== */
/* phone */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #particles-js {
    background-size: 44%;
    background-position: 50% 50%;
  }
}

/* ============== media query end ============== */
